
div {
	user-select: none;
    -webkit-user-select: none;
}
.mainView {
	margin: 0px;
	font-size: xx-small;
}

#controlPanel {
	margin: 20px;
	float: left;
}

.controlButtons {
	margin-top: 20px;
}

.dialPanel {
	border: solid 1px gray;
	margin: 10px;
	padding: 10px;
	float: left;
	border:1px solid #000;
	border-radius:5px;
	background: #cccccc;
}

.dialPanel .label {
	font-weight: bold;
}

#canvasContainer {
    position: relative;
	
}

#controlContainer {
    position: relative;
}

.valueContainer {
    
    float:left;
    padding:10px;
}

#buttonContainer {
    clear: both;
}


ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

input {
    width: 5em;
}