
div {
	user-select: none;
    -webkit-user-select: none;
}
.mainView {
	margin: 0px;
	font-size: xx-small;
}

#controlPanel {
	margin: 20px;
	float: left;
}

.controlButtons {
	margin-top: 20px;
}

.dial {
	border: solid 1px gray;
	font-size: small;
}

#canvasContainer {
    position: relative;
	
}

#controlContainer {
    position: relative;
}

.valueContainer {
    
    float:left;
    padding:10px;
}

#buttonContainer {
    clear: both;
}

@font-face {
  font-family: "D7MI";
  src: url("../fonts/DSEG7/Modern/DSEG7Modern-Regular.woff") format('woff');
}

.lcd {
	text-align:center;
	margin: auto;
	position:relative;
	border:3px solid #000;
	border-radius:9px;
	height:25px;
	width:100px;
	background-color:#fb7c00;
	box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.1) inset; 
}


.lcd-background{
	z-index:50;
	position:absolute;
	top:0px;
	left:6px;
	color:rgba(0,0,0,0.15);
	font-size:35px;
}

.lcd-front{
	z-index:100;
	position:absolute;
	top:0px;
	left:6px;
	font-size:35px;
}

.lcd-output {
	font-family: "D7MI";
	font-size:15px;
	margin-top:5px;
	margin-bottom:5px;
}




ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

input {
    width: 5em;
}